<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.eyecool.basedata.mapper.BasePersonIrisFaceMapper">
    
    <resultMap type="BasePersonIrisFace" id="BasePersonIrisFaceResult">
        <result property="id"    column="id"    />
        <result property="personId"    column="person_id"    />
        <result property="uniqueId"    column="unique_id"    />
        <result property="fusionFeature"    column="fusion_feature"    />
        <result property="fusionFeatureMd5"    column="fusion_feature_md5"    />
        <result property="faceFeature"    column="face_feature"    />
        <result property="faceFeatureMd5"    column="face_feature_md5"    />
        <result property="faceImageUrl"    column="face_image_url"    />
        <result property="faceQuality"    column="face_quality"    />
        <result property="irisFeature"    column="iris_feature"    />
        <result property="irisFeatureMd5"    column="iris_feature_md5"    />
        <result property="irisImageUrl"    column="iris_image_url"    />
        <result property="irisQuality"    column="iris_quality"    />
        <result property="encrypted"    column="encrypted"    />
        <result property="status"    column="status"    />
        <result property="datasource"    column="datasource"    />
        <result property="dataDescribe"    column="data_describe"    />
        <result property="validityDate"    column="validity_date"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="tenantId"    column="tenant_id"    />
    </resultMap>

    <sql id="selectBasePersonIrisFaceVo">
        select irisface.id, irisface.person_id, irisface.unique_id, irisface.fusion_feature, irisface.fusion_feature_md5, irisface.face_feature, irisface.face_feature_md5, irisface.face_image_url, irisface.face_quality, irisface.iris_feature, irisface.iris_feature_md5, irisface.iris_image_url, irisface.iris_quality, irisface.encrypted, irisface.status, irisface.datasource, irisface.data_describe, irisface.validity_date, irisface.create_by, irisface.update_by, irisface.create_time, irisface.update_time, irisface.remark, irisface.tenant_id from base_person_iris_face irisface
    </sql>

    <select id="selectBasePersonIrisFaceList" parameterType="BasePersonIrisFace" resultMap="BasePersonIrisFaceResult">
        <include refid="selectBasePersonIrisFaceVo"/> 
        left join base_person_info info on irisface.person_id=info.id
        <where>  
            <if test="personId != null  and personId != ''"> and irisface.person_id = #{personId}</if>
            <if test="uniqueId != null  and uniqueId != ''"> and irisface.unique_id = #{uniqueId}</if>
            <if test="fusionFeature != null  and fusionFeature != ''"> and irisface.fusion_feature = #{fusionFeature}</if>
            <if test="fusionFeatureMd5 != null  and fusionFeatureMd5 != ''"> and irisface.fusion_feature_md5 = #{fusionFeatureMd5}</if>
            <if test="faceFeature != null  and faceFeature != ''"> and irisface.face_feature = #{faceFeature}</if>
            <if test="faceFeatureMd5 != null  and faceFeatureMd5 != ''"> and irisface.face_feature_md5 = #{faceFeatureMd5}</if>
            <if test="faceImageUrl != null  and faceImageUrl != ''"> and irisface.face_image_url = #{faceImageUrl}</if>
            <if test="faceQuality != null "> and irisface.face_quality = #{faceQuality}</if>
            <if test="irisFeature != null  and irisFeature != ''"> and irisface.iris_feature = #{irisFeature}</if>
            <if test="irisFeatureMd5 != null  and irisFeatureMd5 != ''"> and irisface.iris_feature_md5 = #{irisFeatureMd5}</if>
            <if test="irisImageUrl != null  and irisImageUrl != ''"> and irisface.iris_image_url = #{irisImageUrl}</if>
            <if test="irisQuality != null "> and irisface.iris_quality = #{irisQuality}</if>
            <if test="encrypted != null  and encrypted != ''"> and irisface.encrypted = #{encrypted}</if>
            <if test="status != null  and status != ''"> and irisface.status = #{status}</if>
            <if test="datasource != null  and datasource != ''"> and irisface.datasource = #{datasource}</if>
            <if test="dataDescribe != null  and dataDescribe != ''"> and irisface.data_describe = #{dataDescribe}</if>
            <if test="validityDate != null "> and irisface.validity_date = #{validityDate}</if>
            <if test="tenantId != null  and tenantId != ''"> and irisface.tenant_id = #{tenantId}</if>
            <if test="deptId != null and deptId != 0">
				AND (info.dept_id = #{deptId} OR info.dept_id IN ( SELECT t.dept_id FROM sys_dept t WHERE find_in_set(#{deptId}, ancestors) ))
			</if>
			<!-- 数据范围过滤 -->
			${params.dataScope}
        </where>
    </select>
    
    <select id="selectBasePersonIrisFaceById" parameterType="String" resultMap="BasePersonIrisFaceResult">
        <include refid="selectBasePersonIrisFaceVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBasePersonIrisFace" parameterType="BasePersonIrisFace">
        insert into base_person_iris_face
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="personId != null and personId != ''">person_id,</if>
            <if test="uniqueId != null and uniqueId != ''">unique_id,</if>
            <if test="fusionFeature != null">fusion_feature,</if>
            <if test="fusionFeatureMd5 != null">fusion_feature_md5,</if>
            <if test="faceFeature != null">face_feature,</if>
            <if test="faceFeatureMd5 != null">face_feature_md5,</if>
            <if test="faceImageUrl != null">face_image_url,</if>
            <if test="faceQuality != null">face_quality,</if>
            <if test="irisFeature != null">iris_feature,</if>
            <if test="irisFeatureMd5 != null">iris_feature_md5,</if>
            <if test="irisImageUrl != null">iris_image_url,</if>
            <if test="irisQuality != null">iris_quality,</if>
            <if test="encrypted != null and encrypted != ''">encrypted,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="datasource != null">datasource,</if>
            <if test="dataDescribe != null">data_describe,</if>
            <if test="validityDate != null">validity_date,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="tenantId != null">tenant_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="personId != null and personId != ''">#{personId},</if>
            <if test="uniqueId != null and uniqueId != ''">#{uniqueId},</if>
            <if test="fusionFeature != null">#{fusionFeature},</if>
            <if test="fusionFeatureMd5 != null">#{fusionFeatureMd5},</if>
            <if test="faceFeature != null">#{faceFeature},</if>
            <if test="faceFeatureMd5 != null">#{faceFeatureMd5},</if>
            <if test="faceImageUrl != null">#{faceImageUrl},</if>
            <if test="faceQuality != null">#{faceQuality},</if>
            <if test="irisFeature != null">#{irisFeature},</if>
            <if test="irisFeatureMd5 != null">#{irisFeatureMd5},</if>
            <if test="irisImageUrl != null">#{irisImageUrl},</if>
            <if test="irisQuality != null">#{irisQuality},</if>
            <if test="encrypted != null and encrypted != ''">#{encrypted},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="datasource != null">#{datasource},</if>
            <if test="dataDescribe != null">#{dataDescribe},</if>
            <if test="validityDate != null">#{validityDate},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="tenantId != null">#{tenantId},</if>
         </trim>
    </insert>

    <update id="updateBasePersonIrisFace" parameterType="BasePersonIrisFace">
        update base_person_iris_face
        <trim prefix="SET" suffixOverrides=",">
            <if test="personId != null and personId != ''">person_id = #{personId},</if>
            <if test="uniqueId != null and uniqueId != ''">unique_id = #{uniqueId},</if>
            <if test="fusionFeature != null">fusion_feature = #{fusionFeature},</if>
            <if test="fusionFeatureMd5 != null">fusion_feature_md5 = #{fusionFeatureMd5},</if>
            <if test="faceFeature != null">face_feature = #{faceFeature},</if>
            <if test="faceFeatureMd5 != null">face_feature_md5 = #{faceFeatureMd5},</if>
            <if test="faceImageUrl != null">face_image_url = #{faceImageUrl},</if>
            <if test="faceQuality != null">face_quality = #{faceQuality},</if>
            <if test="irisFeature != null">iris_feature = #{irisFeature},</if>
            <if test="irisFeatureMd5 != null">iris_feature_md5 = #{irisFeatureMd5},</if>
            <if test="irisImageUrl != null">iris_image_url = #{irisImageUrl},</if>
            <if test="irisQuality != null">iris_quality = #{irisQuality},</if>
            <if test="encrypted != null and encrypted != ''">encrypted = #{encrypted},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="datasource != null">datasource = #{datasource},</if>
            <if test="dataDescribe != null">data_describe = #{dataDescribe},</if>
            <if test="validityDate != null">validity_date = #{validityDate},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="tenantId != null">tenant_id = #{tenantId},</if>
        </trim>
        where id = #{id}
    </update>
    
    <update id="updateBasePersonIrisFaceByPersonId" parameterType="BasePersonIrisFace">
         update base_person_iris_face
        <trim prefix="SET" suffixOverrides=",">
            <if test="uniqueId != null and uniqueId != ''">unique_id = #{uniqueId},</if>
            <if test="fusionFeature != null">fusion_feature = #{fusionFeature},</if>
            <if test="fusionFeatureMd5 != null">fusion_feature_md5 = #{fusionFeatureMd5},</if>
            <if test="faceFeature != null">face_feature = #{faceFeature},</if>
            <if test="faceFeatureMd5 != null">face_feature_md5 = #{faceFeatureMd5},</if>
            <if test="faceImageUrl != null">face_image_url = #{faceImageUrl},</if>
            <if test="faceQuality != null">face_quality = #{faceQuality},</if>
            <if test="irisFeature != null">iris_feature = #{irisFeature},</if>
            <if test="irisFeatureMd5 != null">iris_feature_md5 = #{irisFeatureMd5},</if>
            <if test="irisImageUrl != null">iris_image_url = #{irisImageUrl},</if>
            <if test="irisQuality != null">iris_quality = #{irisQuality},</if>
            <if test="encrypted != null and encrypted != ''">encrypted = #{encrypted},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="datasource != null">datasource = #{datasource},</if>
            <if test="dataDescribe != null">data_describe = #{dataDescribe},</if>
            <if test="validityDate != null">validity_date = #{validityDate},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="tenantId != null">tenant_id = #{tenantId},</if>
        </trim>
        where person_id = #{personId}
    </update>

    <delete id="deleteBasePersonIrisFaceById" parameterType="String">
        delete from base_person_iris_face where id = #{id}
    </delete>

    <delete id="deleteBasePersonIrisFaceByIds" parameterType="String">
        delete from base_person_iris_face where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
    <select id="countEnabledFaceIrisByPersonId" parameterType="String" resultType="int">
        select count(1) from base_person_iris_face where person_id = #{personId} and status = '0'
    </select>
</mapper>