<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.eyecool.tradelog.mapper.PersonFaceCheckliveLogMapper">
    
    <select id="selectPersonFaceCheckliveLogList" parameterType="PersonFaceCheckliveLog" resultMap="PersonFaceCheckliveLogResult" databaseId="oracle">
        <include refid="selectPersonFaceCheckliveLogVo"/>
        <where>  
            <if test="channelCode != null  and channelCode != ''"> and channel_code = #{channelCode}</if>
            <if test="sceneImage != null  and sceneImage != ''"> and scene_image = #{sceneImage}</if>
            <if test="sceneVideo != null  and sceneVideo != ''"> and scene_video = #{sceneVideo}</if>
            <if test="checkliveScore != null "> and checklive_score = #{checkliveScore}</if>
            <if test="checkliveMsg != null  and checkliveMsg != ''"> and checklive_msg = #{checkliveMsg}</if>
            <if test="checkliveResult != null  and checkliveResult != ''"> and checklive_result = #{checkliveResult}</if>
            <if test="threshold != null "> and threshold = #{threshold}</if>
            <if test="timeUsed != null "> and time_used = #{timeUsed}</if>
            <if test="serverId != null  and serverId != ''"> and server_id = #{serverId}</if>
            <if test="algsVersion != null  and algsVersion != ''"> and algs_version = #{algsVersion}</if>
            <if test="vendorCode != null  and vendorCode != ''"> and vendor_code = #{vendorCode}</if>
            <if test="batchDate != null "> and batch_date = #{batchDate}</if>
            <if test="tenantId != null  and tenantId != ''"> and tenant_id = #{tenantId}</if>
            <if test="beginTime != null and beginTime != ''"><!-- 开始时间检索 -->
				and received_time &gt;= to_date(#{beginTime},'yyyy-MM-dd HH24:mi:ss')
			</if>
			<if test="endTime != null and endTime != ''"><!-- 结束时间检索 -->
				and received_time &lt;= to_date(#{endTime},'yyyy-MM-dd HH24:mi:ss')
			</if>
        </where>
    </select>
    
     <insert id="addPartition" databaseId="oracle">
		 CALL sp_create_partition(sysdate + #{offsetDay}, #{tableName},'YYYYMMDD')
    </insert>
    
    <delete id="dropPartition" databaseId="oracle">
		 CALL sp_drop_partition(#{holdDate}, #{tableName},'YYYYMMDD')
    </delete>
</mapper>