<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.eyecool.system.mapper.SysLogininforMapper">
	
	<insert id="insertLogininfor" parameterType="SysLogininfor"  databaseId="postgresql">
		<selectKey keyProperty="infoId" resultType="long" order="BEFORE">
			SELECT nextval('sys_logininfor_info_id_seq'::regclass) as infoId  
		</selectKey>
		insert into sys_logininfor (info_id,user_name, status, ipaddr, login_location, browser, os, msg, login_time, tenant_id)
		values (#{infoId}, #{userName}, #{status}, #{ipaddr}, #{loginLocation}, #{browser}, #{os}, #{msg}, now(), #{tenantId})
	</insert>
	
	<select id="selectLogininforList" parameterType="SysLogininfor" resultMap="SysLogininforResult"  databaseId="postgresql">
		select info_id, user_name, ipaddr, login_location, browser, os, status, msg, login_time, tenant_id from sys_logininfor
		<where>
			<if test="ipaddr != null and ipaddr != ''">
				AND ipaddr like concat(concat('%', #{ipaddr}), '%')
			</if>
			<if test="status != null and status != ''">
				AND status = #{status}
			</if>
			<if test="userName != null and userName != ''">
				AND user_name like concat(concat('%', #{userName}), '%')
			</if>
			<if test="beginTime != null and beginTime != ''"><!-- 开始时间检索 -->
				and login_time &gt;= to_date(#{beginTime},'YYYY-MM-DD HH24:MI:SS')
			</if>
			<if test="endTime != null and endTime != ''"><!-- 结束时间检索 -->
				and login_time &lt;= to_date(#{endTime},'YYYY-MM-DD HH24:MI:SS')
			</if>
		</where>
		order by info_id desc
	</select>
	
	
</mapper> 