<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.eyecool.msg.mapper.MsgMailPropertyMapper">
    
    <resultMap type="MsgMailProperty" id="MsgMailPropertyResult">
        <result property="id"    column="id"    />
        <result property="host"    column="host"    />
        <result property="port"    column="port"    />
        <result property="username"    column="username"    />
        <result property="password"    column="password"    />
        <result property="emailAddr"    column="email_addr"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="tenantId"    column="tenant_id"    />
    </resultMap>

    <sql id="selectMsgMailPropertyVo">
        select id, host, port, username, password, email_addr, create_time, update_time, tenant_id from msg_mail_property
    </sql>

    <select id="selectMsgMailPropertyList" parameterType="MsgMailProperty" resultMap="MsgMailPropertyResult">
        <include refid="selectMsgMailPropertyVo"/>
        <where>  
            <if test="host != null  and host != ''"> and host = #{host}</if>
            <if test="port != null "> and port = #{port}</if>
            <if test="username != null  and username != ''"> and username = #{username}</if>
            <if test="password != null  and password != ''"> and password = #{password}</if>
            <if test="emailAddr != null  and emailAddr != ''"> and email_addr = #{emailAddr}</if>
            <if test="tenantId != null  and tenantId != ''"> and tenant_id = #{tenantId}</if>
        </where>
    </select>
    
    <select id="selectMsgMailPropertyById" parameterType="String" resultMap="MsgMailPropertyResult">
        <include refid="selectMsgMailPropertyVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertMsgMailProperty" parameterType="MsgMailProperty">
        insert into msg_mail_property
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="host != null and host != ''">host,</if>
            <if test="port != null">port,</if>
            <if test="username != null and username != ''">username,</if>
            <if test="password != null and password != ''">password,</if>
            <if test="emailAddr != null and emailAddr != ''">email_addr,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="tenantId != null">tenant_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="host != null and host != ''">#{host},</if>
            <if test="port != null">#{port},</if>
            <if test="username != null and username != ''">#{username},</if>
            <if test="password != null and password != ''">#{password},</if>
            <if test="emailAddr != null and emailAddr != ''">#{emailAddr},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="tenantId != null">#{tenantId},</if>
         </trim>
    </insert>

    <update id="updateMsgMailProperty" parameterType="MsgMailProperty">
        update msg_mail_property
        <trim prefix="SET" suffixOverrides=",">
            <if test="host != null and host != ''">host = #{host},</if>
            <if test="port != null">port = #{port},</if>
            <if test="username != null and username != ''">username = #{username},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="emailAddr != null and emailAddr != ''">email_addr = #{emailAddr},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="tenantId != null">tenant_id = #{tenantId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMsgMailPropertyById" parameterType="String">
        delete from msg_mail_property where id = #{id}
    </delete>

    <delete id="deleteMsgMailPropertyByIds" parameterType="String">
        delete from msg_mail_property where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
        
    <select id="checkFromMailUnique" resultMap="MsgMailPropertyResult">
	    <include refid="selectMsgMailPropertyVo"/>
		where email_addr = #{emailAddr}
	</select>
    
</mapper>