<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.eyecool.msg.mapper.MsgSmsCloudAccountMapper">
    
    <resultMap type="MsgSmsCloudAccount" id="MsgSmsCloudAccountResult">
        <result property="id"    column="id"    />
        <result property="appId"    column="app_id"    />
        <result property="appSecrect"    column="app_secrect"    />
        <result property="appName"    column="app_name"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="tenantId"    column="tenant_id"    />
    </resultMap>

    <sql id="selectMsgSmsCloudAccountVo">
        select id, app_id, app_secrect, app_name, create_time, update_time, tenant_id from msg_sms_cloud_account
    </sql>

    <select id="selectMsgSmsCloudAccountList" parameterType="MsgSmsCloudAccount" resultMap="MsgSmsCloudAccountResult">
        <include refid="selectMsgSmsCloudAccountVo"/>
        <where>  
            <if test="appId != null  and appId != ''"> and app_id = #{appId}</if>
            <if test="appSecrect != null  and appSecrect != ''"> and app_secrect = #{appSecrect}</if>
            <if test="appName != null  and appName != ''"> and app_name like concat(concat('%', #{appName}), '%')</if>
            <if test="tenantId != null  and tenantId != ''"> and tenant_id = #{tenantId}</if>
        </where>
    </select>
    
    <select id="selectMsgSmsCloudAccountById" parameterType="String" resultMap="MsgSmsCloudAccountResult">
        <include refid="selectMsgSmsCloudAccountVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertMsgSmsCloudAccount" parameterType="MsgSmsCloudAccount">
        insert into msg_sms_cloud_account
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="appId != null and appId != ''">app_id,</if>
            <if test="appSecrect != null and appSecrect != ''">app_secrect,</if>
            <if test="appName != null and appName != ''">app_name,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="tenantId != null">tenant_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="appId != null and appId != ''">#{appId},</if>
            <if test="appSecrect != null and appSecrect != ''">#{appSecrect},</if>
            <if test="appName != null and appName != ''">#{appName},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="tenantId != null">#{tenantId},</if>
         </trim>
    </insert>

    <update id="updateMsgSmsCloudAccount" parameterType="MsgSmsCloudAccount">
        update msg_sms_cloud_account
        <trim prefix="SET" suffixOverrides=",">
            <if test="appId != null and appId != ''">app_id = #{appId},</if>
            <if test="appSecrect != null and appSecrect != ''">app_secrect = #{appSecrect},</if>
            <if test="appName != null and appName != ''">app_name = #{appName},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="tenantId != null">tenant_id = #{tenantId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMsgSmsCloudAccountById" parameterType="String">
        delete from msg_sms_cloud_account where id = #{id}
    </delete>

    <delete id="deleteMsgSmsCloudAccountByIds" parameterType="String">
        delete from msg_sms_cloud_account where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
      <select id="checkAppNameUnique" resultMap="MsgSmsCloudAccountResult">
	    <include refid="selectMsgSmsCloudAccountVo"/>
		where app_name = #{appName}
	</select>
	
	<select id="checkAppIdUnique" resultMap="MsgSmsCloudAccountResult">
	    <include refid="selectMsgSmsCloudAccountVo"/>
		where app_id = #{appId}
	</select>
    
</mapper>